
:root {
  --header-height: 4rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --primary-color: #fff;
  --secondary-color: #cf7c0f;
  --dark-color: #181717;
  --light-color: #f4f4f4;
  --red-color: #f00;
  --green-color: #0f0;
  --orange-color: #ffa500;
  --pink-color: #ffc0cb;
  --brown-color: #a52a2a;
  --black-color: #000;
  --gray-color: #808080;
  --light-gray-color: #d3d3d3;
  --dark-gray-color: #a9a9a9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--red-color);
  width: 100vw;
  background-image: url("../dist/images/bg-for-page.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 20px;
  font-weight: 800;
  color: var(--red-color);
}

.nav-link {
  color: var(--red-color);
  font-size: 13px;
  font-weight: 800;
}

.navbar-brand:hover {
  color: var(--red-color);
}

.nav-link:hover {
  color: var(--primary-color);
}

header {
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.overlayForBody {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.hero-section .welcomeTitle {
  font-weight: 800;
}
